In [1]:
names = ['John', 'Mary', 'Bob', 'Louis', 'Igor', 'Mike', 'Patricia', 'James', 'Lisa', 'Ashley', 'Carol', 'Brenda']
verbs = ['is', 'are', 'have', 'has', 'be']
positive_adjectives = ['cheerful', 'contented', 'delighted', 'glad', 'satisfied', 'thrilled', 'pleased']
negative_adjectives = ['unhappy', 'bitter', 'dismal', 'heartbroken', 'melancholy', 'mournful', 'somber', 'sorrowful']
connectors = ['and']

In [2]:
import random
import pandas as pd

def generate_dataset(names, verbs, positive_adjectives, negative_adjectives, connectors):
    labels = []
    sentences = []
    sep = ' '
    for name1 in names:
        for name2 in names:
            if name1 != name2:  
                for pos_adj in positive_adjectives:
                    sentence = name1 + sep + connectors[0] + sep + name2 + sep + verbs[1] + sep + pos_adj + sep + '.'
                    label = 1
                    sentences.append(sentence)
                    labels.append(label)
                for neg_adj in negative_adjectives:
                    sentence = name1 + sep + connectors[0] + sep + name2 + sep + verbs[1] + sep + neg_adj + sep + '.'
                    label = 0
                    sentences.append(sentence)
                    labels.append(label)
    return labels, sentences

In [8]:
labels, sentences = generate_dataset(names, verbs, positive_adjectives, negative_adjectives, connectors)
d = { 'labels': labels, 'sentences': sentences}
df = pd.DataFrame(d)
df.to_csv('./datasets/sentiment_with_connector.csv', index=False)

Start Generating Dataset
End Generating Dataset

In [7]:
df.head()

   labels                      sentences
0       1   John and Mary are cheerful .
1       1  John and Mary are contented .
2       1  John and Mary are delighted .
3       1       John and Mary are glad .
4       1  John and Mary are satisfied .